{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://cosmos.numia.xyz/lensesV2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Numia - Cosmos Hub Lenses API"
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/aez/revenue_share_by_consumer": {
      "get": {
        "servers": [
          {
            "url": "https://cosmos.numia.xyz"
          }
        ],
        "operationId": "getAezRevenueShareByConsumer",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "start_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "end_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "total"
            },
            "required": false,
            "name": "consumers",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>",
        "summary": "Get Aez Revenue Share By Consumer"
      }
    },
    "/staking/liquid/share_by_provider": {
      "get": {
        "servers": [
          {
            "url": "https://cosmos.numia.xyz"
          }
        ],
        "operationId": "getLiquidStakingShareByProvider",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "start_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "end_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "total"
            },
            "required": false,
            "name": "providers",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>",
        "summary": "Get Liquid Staking Share By Provider"
      }
    },
    "/staking/liquid/flow_by_provider": {
      "get": {
        "servers": [
          {
            "url": "https://cosmos.numia.xyz"
          }
        ],
        "operationId": "getLiquidStakingFlowByProvider",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "start_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "end_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "\"total\""
            },
            "required": false,
            "name": "provider",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "labels": {
                        "anyOf": [
                          {
                            "type": "string",
                            "description": "Date in the format YYYY-MM-DD HH:MM:SS"
                          },
                          {
                            "type": "string"
                          }
                        ],
                        "description": "Date in the format YYYY-MM-DD HH:MM:SS"
                      },
                      "total_inflow": {
                        "type": "number"
                      },
                      "total_outflow": {
                        "type": "number"
                      },
                      "top_inflow": {
                        "type": "number"
                      },
                      "top_inflow_tx_id": {
                        "type": "string"
                      },
                      "top_outflow": {
                        "type": "number"
                      },
                      "top_outflow_tx_id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "labels",
                      "total_inflow",
                      "total_outflow",
                      "top_inflow",
                      "top_inflow_tx_id",
                      "top_outflow",
                      "top_outflow_tx_id"
                    ]
                  }
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>",
        "summary": "Get Liquid Staking Flow By Provider"
      }
    }
  }
}