{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://dydx.numia.xyz/lensesV2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Numia - dYdX Lenses API"
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/trading/traders_ranking": {
      "get": {
        "servers": [
          {
            "url": "https://dydx.numia.xyz"
          }
        ],
        "operationId": "getTradersRanking",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "total",
                "maker",
                "taker"
              ]
            },
            "required": false,
            "name": "volumeType",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "string"
                      },
                      "total_volume": {
                        "type": "number"
                      },
                      "cumulative_volume": {
                        "type": "number"
                      },
                      "volume_1d": {
                        "type": "number"
                      },
                      "volume_7d": {
                        "type": "number"
                      },
                      "volume_30d": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "address",
                      "total_volume",
                      "cumulative_volume",
                      "volume_1d",
                      "volume_7d",
                      "volume_30d"
                    ]
                  }
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={1}/>",
        "summary": "Get Traders Ranking"
      }
    },
    "/trading/trading_fees": {
      "get": {
        "servers": [
          {
            "url": "https://dydx.numia.xyz"
          }
        ],
        "operationId": "getTradingFees",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "start_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "end_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "pool",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "market",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "labels": {
                        "type": "string"
                      },
                      "total_fees": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "labels",
                      "total_fees"
                    ]
                  }
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={1}/>",
        "summary": "Get Trading Fees"
      }
    },
    "/trading/liquidation/flow_by_market": {
      "get": {
        "servers": [
          {
            "url": "https://dydx.numia.xyz"
          }
        ],
        "operationId": "getLiquidationFlowByMarket",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "start_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "end_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "market",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "week",
                "month"
              ]
            },
            "required": false,
            "name": "granularity",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "labels": {
                        "type": "string",
                        "description": "Date in the format YYYY-MM-DD HH:MM:SS"
                      },
                      "total_long_liquidation_volume": {
                        "type": "number"
                      },
                      "top_long_liquidation": {
                        "type": "number"
                      },
                      "top_long_liquidation_tx_id": {
                        "type": "string"
                      },
                      "total_short_liquidation_volume": {
                        "type": "number"
                      },
                      "top_short_liquidation": {
                        "type": "number"
                      },
                      "top_short_liquidation_tx_id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "labels",
                      "total_long_liquidation_volume",
                      "top_long_liquidation",
                      "top_long_liquidation_tx_id",
                      "total_short_liquidation_volume",
                      "top_short_liquidation",
                      "top_short_liquidation_tx_id"
                    ]
                  }
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={1}/>",
        "summary": "Get Liquidation Flow By Market"
      }
    },
    "/tokenomics/wallets/treasury_subdao": {
      "get": {
        "servers": [
          {
            "url": "https://dydx.numia.xyz"
          }
        ],
        "operationId": "getTokenomicsWalletsTreasurySubdao",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "start_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "end_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "balance_categories",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={1}/>",
        "summary": "Get Tokenomics Wallets Treasury Subdao"
      }
    },
    "/business/expenses_share_by_destination": {
      "get": {
        "servers": [
          {
            "url": "https://dydx.numia.xyz"
          }
        ],
        "operationId": "getBusinessExpensesShareByDestination",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "start_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "end_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "destinations",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={1}/>",
        "summary": "Get Business Expenses Share By Destination"
      }
    }
  }
}