{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://engage-api.numia.xyz"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Numia - Engage"
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/campaign/multiple-cointype": {
      "get": {
        "operationId": "getCampaignForAddresses",
        "summary": "get most relevant campaign for a user using addresses of different cointypes",
        "tags": [
          "delivery"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "position_id",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                }
              ]
            },
            "required": true,
            "name": "addresses",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>"
      }
    },
    "/campaign/{address}": {
      "get": {
        "operationId": "getCampaignForAddress",
        "summary": "get most relevant campaign for an address",
        "tags": [
          "delivery"
        ],
        "parameters": [
          {
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "global"
                  ]
                },
                {
                  "type": "string"
                }
              ]
            },
            "required": true,
            "name": "address",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "keplr_home",
                "keplr_explore",
                "leap_wallet_home",
                "leap_mobile_wallet_home",
                "the_crypto_app_home",
                "soquest_campaign_home_suggest",
                "jumper_home",
                "staking_rewards_home"
              ]
            },
            "required": true,
            "name": "position_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>"
      }
    },
    "/click": {
      "get": {
        "operationId": "redirectClickLink",
        "summary": "Redirect a link click",
        "tags": [
          "delivery"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "url",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "address",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "campaign_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "audience_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "position_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>"
      }
    },
    "/track": {
      "post": {
        "operationId": "trackEvent",
        "summary": "Track an Event",
        "tags": [
          "delivery"
        ],
        "description": "# Tracking an Event\n\nWe offer the ability to send conversion analytics events from your website like, trade_made, wallet_connected, or any other custom events related to any conversion you want to track. If the conversion is an on-chain conversion please check with our team if the chain is indexed so it’s tracked automatically. Otherwise please make sure you track the key conversion events on your website.\n\nCurrently, the event_name and the identity object are required. The meta data regarding event attributes can be omitted but ew strongly recommend do add additional information like token_amounts, token_denoms, contract for specific on-chain conversions.\n\n```json\n{\n    \"name\": \"$event_name\", // required\n    \"identity\": {\n        \"type\": \"address\", // required\n        \"id\": \"$address\" // required\n    },\n    \"attributes\": {\n        \"attribute_key_1\": \"attribute_value_1\",\n        \"attribute_key_2\": \"attribute_value_2\",\n        \"attribute_key_3\": \"attribute_value_3\",\n        // ...\n        \"attribute_key_n\": \"attribute_value_n\"\n    },\n    \"meta\": {},\n    \"timestamp\": \"$Date.now()\" // required\n}\n```\n\n### Conventions for Event Tracking\n\nConventions for some events\nSome events are very standard across all dapp funnels and in order for us to have better benchmarks for you and run our standard reports, we ask you to follow the following conventions:\nStandard event names with their standard attributes:\n\n-   `wallet_connected`\n-   `open_position`:\n    -   We recommend taking this directly from the message you send onchain.\n\n```json\n{\n    \"tokens\": [\n        {\"amount\": 5, \"denom\": $token_denom_1 },{\"amount\":2, \"denom\":$token_denom_2 },\n        // ...\n        {\"amount\":3, \"denom\":$token_denom_3}\n    ],\n    \"amount_usd\": 50.00\n}\n```\n\n-   `claim_rewards`:\n    -   We recommend taking this directly from the message you send onchain.\n\n```json\n{\n    \"tokens\": [\n        {\"amount\": 5, \"denom\": $token_denom_1 }\n    ],\n    \"amount_usd\": 50.00\n}\n```\n\n\nimport PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>",
        "requestBody": {
          "content": {
            "json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "identity": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "address"
                        ]
                      },
                      "id": {
                        "type": "string"
                      },
                      "canonical": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  },
                  "attributes": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "meta": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "timestamp": {
                    "type": "number"
                  }
                },
                "required": [
                  "name",
                  "identity",
                  "timestamp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/sdk/track": {
      "post": {
        "operationId": "trackEventSDK",
        "summary": "Endpoint to track an event from the numia engage sdk",
        "tags": [
          "delivery"
        ],
        "requestBody": {
          "content": {
            "json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "attributes": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "meta": {
                    "type": "object",
                    "additionalProperties": {
                      "nullable": true
                    }
                  },
                  "timestamp": {
                    "type": "number"
                  },
                  "anonymousId": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "timestamp",
                  "anonymousId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>"
      }
    }
  }
}