{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://osmosis.numia.xyz/lensesV2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Numia - Osmosis Lenses API"
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/aux/pool_listings": {
      "get": {
        "servers": [
          {
            "url": "https://osmosis.numia.xyz"
          }
        ],
        "operationId": "getAuxPoolListings",
        "tags": [],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "query_key": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "daily_volume": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "query_key",
                      "name",
                      "type",
                      "daily_volume"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/activity/active_whales": {
      "get": {
        "servers": [
          {
            "url": "https://osmosis.numia.xyz"
          }
        ],
        "operationId": "getActivityActiveWhales",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "100"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "active_volume_last_7_days",
                "trading_volume_last_7_days",
                "lp_volume_last_7_days",
                "delegations_volume_last_7_days"
              ],
              "default": "active_volume_last_7_days"
            },
            "required": false,
            "name": "order",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "wallet": {
                        "type": "string"
                      },
                      "trading_volume_last_7_days": {
                        "type": "number"
                      },
                      "lp_volume_last_7_days": {
                        "type": "number"
                      },
                      "staking_volume_last_7_days": {
                        "type": "number"
                      },
                      "total_volume_last_7_days": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "wallet",
                      "trading_volume_last_7_days",
                      "lp_volume_last_7_days",
                      "staking_volume_last_7_days",
                      "total_volume_last_7_days"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kpi/cumulative_trading_volume": {
      "get": {
        "servers": [
          {
            "url": "https://osmosis.numia.xyz"
          }
        ],
        "operationId": "getKPICumulativeTradingVolume",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "start_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "end_date",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "labels": {
                        "type": "string"
                      },
                      "value": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "labels",
                      "value"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kpi/cumulative_protocol_revenue": {
      "get": {
        "servers": [
          {
            "url": "https://osmosis.numia.xyz"
          }
        ],
        "operationId": "getKPICumulativeProtocolRevenue",
        "tags": [],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "labels": {
                        "type": "string"
                      },
                      "value": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "labels",
                      "value"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kpi/cumulative_supply_side_revenue": {
      "get": {
        "servers": [
          {
            "url": "https://osmosis.numia.xyz"
          }
        ],
        "operationId": "getKPICumulativeSupplySideRevenue",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "start_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "end_date",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "labels": {
                        "type": "string"
                      },
                      "value": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "labels",
                      "value"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/liquidity/liquidity_flow": {
      "get": {
        "servers": [
          {
            "url": "https://osmosis.numia.xyz"
          }
        ],
        "operationId": "getLiquidityFlow",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "start_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "end_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "total"
            },
            "required": false,
            "name": "pool",
            "in": "query"
          }
        ],
        "responses": {}
      }
    },
    "/tokenomics/assets_in_chain": {
      "get": {
        "servers": [
          {
            "url": "https://osmosis.numia.xyz"
          }
        ],
        "operationId": "getTokenomicsAssetsInChain",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "start_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "end_date",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "labels": {
                        "type": "string"
                      },
                      "assets_in_chain_usdc": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "labels",
                      "assets_in_chain_usdc"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trading/volume/top_assets_date_range": {
      "get": {
        "servers": [
          {
            "url": "https://osmosis.numia.xyz"
          }
        ],
        "operationId": "getTopAssetsByVolumeDateRange",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "start_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Date in the format YYYY-MM-DD HH:MM:SS"
            },
            "required": false,
            "name": "end_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "20"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "denom": {
                        "type": "string"
                      },
                      "usd_volume": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "symbol": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "denom",
                      "usd_volume",
                      "name",
                      "symbol",
                      "url"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trading/volume/top_assets_last_period_hours": {
      "get": {
        "servers": [
          {
            "url": "https://osmosis.numia.xyz"
          }
        ],
        "operationId": "getTopAssetsByVolumeLastPeriodHours",
        "tags": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "24"
            },
            "required": true,
            "name": "period",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "default": "20"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "denom": {
                        "type": "string"
                      },
                      "usd_volume": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "symbol": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "denom",
                      "usd_volume",
                      "name",
                      "symbol",
                      "url"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}