{"openapi":"3.0.0","servers":[{"url":"https://quasar.numia.xyz"}],"security":[{"bearerAuth":[]}],"info":{"version":"1.0.0","title":"Numia - Quasar API"},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{},"parameters":{}},"paths":{"/quasar/tvl":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"vault":{"type":"string"},"tvl":{"type":"number"},"tvl_uosmo":{"type":"number"},"tvl_uatom":{"type":"number"},"tvl_eur":{"type":"number"}},"required":["vault","tvl","tvl_uosmo","tvl_uatom","tvl_eur"]}}}}}}}},"/quasar/vaults/{vaultAddress}/info":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"vaultAddress","in":"path"},{"schema":{"type":"string"},"required":false,"name":"apy_days","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"object","properties":{"apy":{"type":"number"},"apr_spread_rewards":{"type":"number"},"apr_pool_incentives":{"type":"number"},"apr_staking":{"type":"number"},"apr_airdrop":{"type":"number"},"apr_boost":{"type":"number"},"apy_average":{"type":"object","properties":{"1":{"type":"object","properties":{"apy":{"type":"number"},"apr_spread_rewards":{"type":"number"},"apr_pool_incentives":{"type":"number"},"apr_staking":{"type":"number"},"apr_airdrop":{"type":"number"},"apr_boost":{"type":"number"}},"required":["apy","apr_spread_rewards","apr_pool_incentives","apr_staking","apr_airdrop","apr_boost"]},"3":{"type":"object","properties":{"apy":{"type":"number"},"apr_spread_rewards":{"type":"number"},"apr_pool_incentives":{"type":"number"},"apr_staking":{"type":"number"},"apr_airdrop":{"type":"number"},"apr_boost":{"type":"number"}},"required":["apy","apr_spread_rewards","apr_pool_incentives","apr_staking","apr_airdrop","apr_boost"]},"7":{"type":"object","properties":{"apy":{"type":"number"},"apr_spread_rewards":{"type":"number"},"apr_pool_incentives":{"type":"number"},"apr_staking":{"type":"number"},"apr_airdrop":{"type":"number"},"apr_boost":{"type":"number"}},"required":["apy","apr_spread_rewards","apr_pool_incentives","apr_staking","apr_airdrop","apr_boost"]},"14":{"type":"object","properties":{"apy":{"type":"number"},"apr_spread_rewards":{"type":"number"},"apr_pool_incentives":{"type":"number"},"apr_staking":{"type":"number"},"apr_airdrop":{"type":"number"},"apr_boost":{"type":"number"}},"required":["apy","apr_spread_rewards","apr_pool_incentives","apr_staking","apr_airdrop","apr_boost"]},"30":{"type":"object","properties":{"apy":{"type":"number"},"apr_spread_rewards":{"type":"number"},"apr_pool_incentives":{"type":"number"},"apr_staking":{"type":"number"},"apr_airdrop":{"type":"number"},"apr_boost":{"type":"number"}},"required":["apy","apr_spread_rewards","apr_pool_incentives","apr_staking","apr_airdrop","apr_boost"]}},"required":["1","3","7","14","30"]},"total_supply":{"type":"object","properties":{"amount":{"type":"number"}},"required":["amount"]},"tvl":{"type":"object","properties":{"usd":{"type":"number"},"osmo":{"type":"number"},"atom":{"type":"number"},"eur":{"type":"number"}},"required":["usd","osmo","atom","eur"]},"token":{"type":"object","properties":{"symbol":{"type":"string"},"name":{"type":"string"},"denom":{"type":"string"}},"required":["symbol","name"]},"bondPrimitives":{"type":"array","items":{"type":"object","properties":{"weight":{"anyOf":[{"type":"string"},{"type":"number"}]},"depositWeight":{"type":"string"},"denom":{"type":"string"},"amount":{"type":"number"},"base":{"type":"string"},"name":{"type":"string"},"display":{"type":"string"},"symbol":{"type":"string"},"price":{"type":"object","properties":{"usd":{"type":"number"},"osmo":{"type":"number"},"atom":{"type":"number"},"eur":{"type":"number"}},"required":["usd","osmo","atom","eur"]}},"required":["weight","denom","amount","base","name","display","symbol"]}},"pairPrimitives":{"type":"array","items":{"type":"object","properties":{"weight":{"anyOf":[{"type":"number"},{"type":"string"}]},"denom":{"type":"string"},"address":{"type":"string"},"amount":{"type":"number"},"price":{"type":"object","properties":{"usd":{"type":"number"},"osmo":{"type":"number"},"atom":{"type":"number"},"eur":{"type":"number"}},"required":["usd","osmo","atom","eur"]}},"required":["weight","amount","price"]}}},"required":["apy","apr_spread_rewards","apr_pool_incentives","apr_staking","apr_airdrop","apr_boost","apy_average","total_supply","tvl","token","bondPrimitives","pairPrimitives"]}}}}}}},"/quasar/vaults/{vaultAddress}/balances/{userAddress}/now":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"vaultAddress","in":"path"},{"schema":{"type":"string"},"required":true,"name":"userAddress","in":"path"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"object","properties":{"vaultShare":{"type":"number"},"balance":{"type":"object","properties":{"amount":{"anyOf":[{"type":"string"},{"type":"number"}]},"usd":{"type":"number"},"osmo":{"type":"number"},"atom":{"type":"number"},"eur":{"type":"number"}},"required":["amount","usd","osmo","atom","eur"]},"rewards":{"type":"array","items":{"type":"object","properties":{"amount":{"type":"number"},"usd":{"type":"number"},"osmo":{"type":"number"},"atom":{"type":"number"},"eur":{"type":"number"},"symbol":{"type":"string"},"name":{"type":"string"},"denom":{"type":"string"},"imageUrl":{"type":"string"}},"required":["amount","usd","osmo","atom","eur","symbol","name","denom","imageUrl"]}},"tokens":{"type":"array","items":{"type":"object","properties":{"amount":{"type":"number"},"usd":{"type":"number"},"osmo":{"type":"number"},"atom":{"type":"number"},"eur":{"type":"number"},"symbol":{"type":"string"},"name":{"type":"string"},"denom":{"type":"string"},"imageUrl":{"type":"string"}},"required":["amount","usd","osmo","atom","eur","symbol","name","denom","imageUrl"]}}},"required":["vaultShare","balance"]}}}}}}},"/quasar/vaults/{vaultAddress}/balances/{userAddress}/over-time":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"vaultAddress","in":"path"},{"schema":{"type":"string"},"required":true,"name":"userAddress","in":"path"},{"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","description":"Date in the format YYYY-MM-DD"},"required":true,"name":"start_date","in":"query"},{"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","description":"Date in the format YYYY-MM-DD"},"required":false,"name":"end_date","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"day":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"usdc":{"type":"number"}},"required":["day","usdc"]}}}}}}}},"/quasar/tvl-over-time":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"datetime":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"tvl":{"type":"object","properties":{"uosmo":{"type":"number"},"usd":{"type":"number"},"eur":{"type":"number"},"uatom":{"type":"number"}},"required":["uosmo","usd","eur","uatom"]}},"required":["datetime","tvl"]}}}}}}}},"/quasar/vaults/{vault}/tvl":{"get":{"parameters":[{"schema":{"type":"string"},"required":true,"name":"vault","in":"path"},{"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","description":"Date in the format YYYY-MM-DD"},"required":true,"name":"start_date","in":"query"},{"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","description":"Date in the format YYYY-MM-DD"},"required":false,"name":"end_date","in":"query"},{"schema":{"anyOf":[{"type":"number"},{"type":"string"}],"default":30},"required":true,"name":"time_resolution","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"datetime":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"vault":{"type":"string"},"tvl":{"type":"object","properties":{"uosmo":{"type":"number"},"usd":{"type":"number"},"eur":{"type":"number"},"uatom":{"type":"number"}},"required":["uosmo","usd","eur","uatom"]}},"required":["datetime","vault","tvl"]}}}}}}}},"/quasar/vaults/{vault}/apy-over-time":{"get":{"parameters":[{"schema":{"type":"string"},"required":true,"name":"vault","in":"path"},{"schema":{"type":"string"},"required":true,"name":"moving_average_days","in":"query"},{"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","description":"Date in the format YYYY-MM-DD"},"required":true,"name":"start_date","in":"query"},{"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","description":"Date in the format YYYY-MM-DD"},"required":false,"name":"end_date","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"ma_apr_rewards":{"type":"number"},"ma_apr_incentives":{"type":"number"},"ma_apr_staking":{"type":"number"},"ma_apr_airdrop":{"type":"number"},"ma_apr_boost":{"type":"number"},"ma_total_apr":{"type":"number"},"ma_total_apy":{"type":"number"}},"required":["date","ma_apr_rewards","ma_apr_incentives","ma_apr_staking","ma_apr_airdrop","ma_apr_boost","ma_total_apr","ma_total_apy"]}}}}}}}},"/quasar/txs/address/{address}/vault/{vault}":{"get":{"parameters":[{"schema":{"type":"string"},"required":true,"name":"address","in":"path"},{"schema":{"type":"string"},"required":true,"name":"vault","in":"path"},{"schema":{"type":"string","pattern":"^\\d+$"},"required":false,"name":"pageSize","in":"query"},{"schema":{"type":"string","pattern":"^\\d+$"},"required":false,"name":"page","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"amount":{"type":"object","properties":{"usd":{"type":"number"},"osmo":{"type":"number"},"atom":{"type":"number"},"eur":{"type":"number"}},"required":["usd","osmo","atom","eur"]},"assets":{"type":"array","items":{"type":"object","properties":{"amount":{"type":"number"},"usd":{"type":"number"},"osmo":{"type":"number"},"atom":{"type":"number"},"eur":{"type":"number"},"symbol":{"type":"string"},"name":{"type":"string"},"denom":{"type":"string"}},"required":["amount","usd","osmo","atom","eur","symbol","name","denom"]}},"txType":{"type":"string"},"datetime":{"type":"string"},"txHash":{"type":"string"},"vault":{"type":"string"},"address":{"type":"string"},"merkleContract":{"type":"string"}},"required":["amount","assets","txType","datetime","txHash","vault","address"]}}}}}}}},"/quasar/revenue":{"get":{"parameters":[{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"start_date","in":"query"},{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"end_date","in":"query"}],"responses":{}}},"/dashboard/vaults":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getVaultsList","tags":["dashboard"],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"name":{"type":"string"},"tvl":{"type":"number"},"apy":{"type":"number"},"pool_id":{"type":"string"}},"required":["address","name","tvl","apy"]}}}}}}}},"/dashboard/cl_vaults":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getCLVaultsList","tags":["dashboard"],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"name":{"type":"string"},"tvl":{"type":"number"},"apy":{"type":"number"},"pool_id":{"type":"string"}},"required":["address","name","tvl","apy"]}}}}}}}},"/dashboard/vault_positions":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getVaultPositions","tags":["dashboard"],"parameters":[{"schema":{"type":"string"},"required":true,"name":"vault","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"object","properties":{"tvl":{"type":"number"},"positions_total_liquidity":{"type":"number"},"idle_liquidity":{"type":"number"},"positions":{"type":"array","items":{"type":"object","properties":{"position_id":{"type":"string"},"actual_balance":{"type":"object","properties":{"price":{"type":"number"},"usd":{"type":"number"},"asset0":{"type":"object","properties":{"symbol":{"type":"string"},"denom":{"type":"string"},"amount":{"type":"string"},"decimals":{"type":"number"},"name":{"type":"string"},"logoURIs":{"type":"string"}},"required":["symbol","denom","amount","decimals","name"]},"asset1":{"type":"object","properties":{"symbol":{"type":"string"},"denom":{"type":"string"},"amount":{"type":"string"},"decimals":{"type":"number"},"name":{"type":"string"},"logoURIs":{"type":"string"}},"required":["symbol","denom","amount","decimals","name"]}},"required":["price","usd","asset0","asset1"]},"initial_balance":{"type":"object","properties":{"price":{"type":"number"},"usd":{"type":"number"},"asset0":{"type":"object","properties":{"symbol":{"type":"string"},"denom":{"type":"string"},"amount":{"type":"string"},"decimals":{"type":"number"},"name":{"type":"string"},"logoURIs":{"type":"string"}},"required":["symbol","denom","amount","decimals","name"]},"asset1":{"type":"object","properties":{"symbol":{"type":"string"},"denom":{"type":"string"},"amount":{"type":"string"},"decimals":{"type":"number"},"name":{"type":"string"},"logoURIs":{"type":"string"}},"required":["symbol","denom","amount","decimals","name"]}},"required":["price","usd","asset0","asset1"]},"creation_time":{"type":"string"}},"required":["position_id","actual_balance","initial_balance","creation_time"]}}},"required":["tvl","positions_total_liquidity","idle_liquidity","positions"]}}}}}}},"/dashboard/vault_historical_positions":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getVaultHistoricalPositions","tags":["dashboard"],"parameters":[{"schema":{"type":"string"},"required":true,"name":"vault","in":"query"},{"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","description":"Date in the format YYYY-MM-DD"},"required":true,"name":"start_date","in":"query"},{"schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","description":"Date in the format YYYY-MM-DD"},"required":true,"name":"end_date","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"block_timestamp":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"tx_hash":{"type":"string"},"position_id":{"type":"number"},"pool_id":{"type":"number"},"upper_price":{"type":"number"},"lower_price":{"type":"number"},"asset0":{"type":"object","properties":{"symbol":{"type":"string"},"denom":{"type":"string"},"amount":{"type":"string"},"decimals":{"type":"number"},"name":{"type":"string"},"logoURIs":{"type":"string"}},"required":["symbol","denom","amount","decimals","name"]},"asset1":{"type":"object","properties":{"symbol":{"type":"string"},"denom":{"type":"string"},"amount":{"type":"string"},"decimals":{"type":"number"},"name":{"type":"string"},"logoURIs":{"type":"string"}},"required":["symbol","denom","amount","decimals","name"]}},"required":["block_timestamp","tx_hash","position_id","pool_id","upper_price","lower_price","asset0","asset1"]}}}}}}}},"/dashboard/vaults_accrued_rewards":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getVaultsAccruedRewards","tags":["dashboard"],"responses":{}}},"/dashboard/vaults_pool_incentives":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getVaultsPoolIncentives","tags":["dashboard"],"responses":{}}},"/dashboard/vaults_impermanent_loss":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getVaultsImpermanentLoss","tags":["dashboard"],"parameters":[{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"start_date","in":"query"},{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"end_date","in":"query"},{"schema":{"type":"string"},"required":true,"name":"vault","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"labels":{"type":"string"},"impermanent_loss":{"type":"number"}},"required":["labels","impermanent_loss"]}}}}}}}},"/dashboard/vaults_balancing_slippage":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getVaultsBalancingSlippage","tags":["dashboard"],"parameters":[{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"start_date","in":"query"},{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"end_date","in":"query"},{"schema":{"type":"string"},"required":true,"name":"vault","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"labels":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"name":{"type":"string"},"address":{"type":"string"},"tx_hash":{"type":"string"},"amount_in":{"type":"number"},"symbol_in":{"type":"string"},"amount_out":{"type":"number"},"symbol_out":{"type":"string"},"effective_price":{"type":"number"},"spot_price":{"type":"number"},"slippage":{"type":"number"}},"required":["labels","name","address","tx_hash","amount_in","symbol_in","amount_out","symbol_out","effective_price","spot_price","slippage"]}}}}}}}},"/dashboard/vaults_positions_liquidity_distribution":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getVaultsPositionsLiquidityDistribution","tags":["dashboard"],"responses":{}}},"/dashboard/vaults_depositors_metrics":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getVaultsDepositorsMetrics","tags":["dashboard"],"parameters":[{"schema":{"type":"string"},"required":true,"name":"vault","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"unique_deposits":{"type":"number"},"unique_depositors":{"type":"number"},"avg_deposit_duration":{"type":"number"}},"required":["address","unique_deposits","unique_depositors","avg_deposit_duration"]}}}}}}}},"/dashboard/vaults_depositors_over_time":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getVaultsDepositorsOverTime","tags":["dashboard"],"parameters":[{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"start_date","in":"query"},{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"end_date","in":"query"},{"schema":{"type":"string"},"required":true,"name":"vault","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"labels":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"address":{"type":"string"},"active_depositors":{"type":"number"},"new_depositors":{"type":"number"},"churned_depositors":{"type":"number"}},"required":["labels","address","active_depositors","new_depositors","churned_depositors"]}}}}}}}},"/dashboard/vault_depositors_rolling_growth":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getVaultsDepositorsRollingGrowth","tags":["dashboard"],"parameters":[{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"start_date","in":"query"},{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"end_date","in":"query"},{"schema":{"type":"string"},"required":true,"name":"vault","in":"query"},{"schema":{"type":"string","enum":["day","week"]},"required":true,"name":"time_resolution","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"labels":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"growth_rate":{"type":"number"}},"required":["labels","growth_rate"]}}}}}}}},"/dashboard/tokenomics/supply_metrics":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getTokenomicsSupplyMetrics","tags":["dashboard"],"parameters":[{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"start_date","in":"query"},{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"end_date","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"labels":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"limit_supply":{"type":"number"},"total_supply":{"type":"number"},"minted_supply":{"type":"number"},"burnt_supply":{"type":"number"},"locked_supply":{"type":"number"},"circulating_supply":{"type":"number"},"fully_diluted_valuation":{"type":"number"},"market_cap":{"type":"number"},"inflation":{"type":"number"},"locked_ratio":{"type":"number"}},"required":["labels","limit_supply","total_supply","minted_supply","burnt_supply","locked_supply","circulating_supply","fully_diluted_valuation","market_cap","inflation","locked_ratio"]}}}}}}}},"/dashboard/vaults_liquidity_flow":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getVaultsLiquidityFlow","tags":["dashboard"],"parameters":[{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"start_date","in":"query"},{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"end_date","in":"query"},{"schema":{"type":"string"},"required":true,"name":"vault","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"labels":{"type":"string"},"total_inflow":{"type":"number"},"top_inflow":{"type":"number"},"top_inflow_tx_id":{"type":"string"},"total_outflow":{"type":"number"},"top_outflow":{"type":"number"},"top_outflow_tx_id":{"type":"string"}},"required":["labels","total_inflow","top_inflow","top_inflow_tx_id","total_outflow","top_outflow","top_outflow_tx_id"]}}}}}}}},"/dashboard/average_position_over_time":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getAveragePosition","tags":["dashboard"],"parameters":[{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"start_date","in":"query"},{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"end_date","in":"query"},{"schema":{"type":"string"},"required":true,"name":"vault","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"labels":{"type":"string"},"average_usd_position":{"type":"number"}},"required":["labels","average_usd_position"]}}}}}}}},"/dashboard/vaults_depositors_top_10":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getVaultsDepositorsTop10","tags":["dashboard"],"parameters":[{"schema":{"type":"string"},"required":true,"name":"vault","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"balance":{"type":"number"}},"required":["address","balance"]}}}}}}}},"/dashboard/vault_vs_pool_performance":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getVaultVsPoolPerformance","tags":["dashboard"],"parameters":[{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"start_date","in":"query"},{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"end_date","in":"query"},{"schema":{"type":"string"},"required":true,"name":"vault","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"labels":{"type":"string"},"pool_id":{"type":"string"},"total_volume":{"type":"number"},"vault_volume":{"type":"number"},"total_liquidity":{"type":"number"},"vault_liquidity":{"type":"number"},"volume_ratio":{"type":"number"},"liquidity_ratio":{"type":"number"},"volume_liquidity_ratio":{"type":"number"}},"required":["labels","pool_id","total_volume","vault_volume","total_liquidity","vault_liquidity","volume_ratio","liquidity_ratio","volume_liquidity_ratio"]}}}}}}}},"/dashboard/vaults_avg_tvl":{"get":{"servers":[{"url":"https://quasar.numia.xyz"}],"operationId":"getVaultsAvgTVL","tags":["dashboard"],"parameters":[{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"start_date","in":"query"},{"schema":{"type":"string","description":"Date in the format YYYY-MM-DD HH:MM:SS"},"required":true,"name":"end_date","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"labels":{"type":"string"},"value":{"type":"number"}},"required":["labels","value"]}}}}}}}},"/quasar/points/campaigns":{"get":{"operationId":"getPointCampaigns","tags":["point_campaigns"],"servers":[{"url":"https://quasar.numia.xyz"}],"parameters":[{"schema":{"type":"string"},"required":false,"name":"vault_address","in":"query"}],"responses":{}},"post":{"operationId":"createPointCampaigns","tags":["point_campaigns"],"servers":[{"url":"https://quasar.numia.xyz"}],"requestBody":{"content":{"json":{"schema":{"type":"object","properties":{"start_date":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","description":"Date in the format YYYY-MM-DD"},"end_date":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","description":"Date in the format YYYY-MM-DD"},"multiplier":{"type":"number","default":1},"params":{"oneOf":[{"type":"object","properties":{"vault":{"type":"string"},"unit_of_liquidity":{"type":"number"},"application":{"type":"string","enum":["osmo_vault_balance","evm_vault_balance"]}},"required":["vault","unit_of_liquidity","application"]},{"type":"object","properties":{"vault":{"type":"string"},"pool":{"type":"string"},"unit_of_liquidity":{"type":"number"},"application":{"type":"string","enum":["uniswap_lp_balance"]}},"required":["vault","pool","unit_of_liquidity","application"]}]}},"required":["start_date","end_date","multiplier","params"]}}}},"responses":{}}},"/quasar/points/campaigns/{snapshot_campaign_id}":{"post":{"operationId":"updatePointCampaigns","tags":["point_campaigns"],"servers":[{"url":"https://quasar.numia.xyz"}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"snapshot_campaign_id","in":"path"}],"requestBody":{"content":{"json":{"schema":{"type":"object","properties":{"start_date":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","description":"Date in the format YYYY-MM-DD"},"end_date":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","description":"Date in the format YYYY-MM-DD"},"multiplier":{"type":"number","default":1},"params":{"oneOf":[{"type":"object","properties":{"vault":{"type":"string"},"unit_of_liquidity":{"type":"number"},"application":{"type":"string","enum":["osmo_vault_balance","evm_vault_balance"]}},"required":["vault","unit_of_liquidity","application"]},{"type":"object","properties":{"vault":{"type":"string"},"pool":{"type":"string"},"unit_of_liquidity":{"type":"number"},"application":{"type":"string","enum":["uniswap_lp_balance"]}},"required":["vault","pool","unit_of_liquidity","application"]}]}}}}}},"responses":{}},"delete":{"operationId":"deletePointCampaigns","tags":["point_campaigns"],"servers":[{"url":"https://quasar.numia.xyz"}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"snapshot_campaign_id","in":"path"}],"responses":{}}},"/quasar/points/users/top":{"get":{"operationId":"getPointsPerUser","tags":["point_campaigns"],"servers":[{"url":"https://quasar.numia.xyz"}],"parameters":[{"schema":{"type":"string"},"required":false,"name":"vault_address","in":"query"},{"schema":{"type":"string","default":"10"},"required":true,"name":"limit","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"vault":{"type":"string"},"address":{"type":"string"},"points":{"type":"number"}},"required":["vault","address","points"]}}}}}}}},"/quasar/points/users/{user_address}":{"get":{"operationId":"getPointsPerUser","tags":["point_campaigns"],"servers":[{"url":"https://quasar.numia.xyz"}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"user_address","in":"path"},{"schema":{"type":"string"},"required":false,"name":"vault_address","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"object","properties":{"campaigns":{"type":"array","items":{"type":"object","properties":{"vault":{"type":"string"},"campaign_id":{"type":"number"},"points":{"type":"number"},"metadata":{"type":"object","nullable":true,"properties":{"pool":{"type":"string"}},"required":["pool"]}},"required":["vault","campaign_id","points","metadata"]}},"total_points":{"type":"number"}},"required":["campaigns","total_points"]}}}}}}},"/quasar/points/vaults":{"get":{"operationId":"getPointsPerVault","tags":["point_campaigns"],"servers":[{"url":"https://quasar.numia.xyz"}],"parameters":[{"schema":{"type":"string"},"required":false,"name":"vault_address","in":"query"}],"responses":{"200":{"description":"Status: 200","content":{"application/json":{"schema":{"type":"object","properties":{"vaults":{"type":"array","items":{"type":"object","properties":{"vault":{"type":"string"},"points":{"type":"number"}},"required":["vault","points"]}},"total_points":{"type":"number"}},"required":["vaults","total_points"]}}}}}}}}}