{
  "openapi": "3.0.0",
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://stablecoins.numia.xyz"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Numia - Stablecoins"
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/stablecoins/volume-per-token": {
      "get": {
        "tags": [
          "stablecoins"
        ],
        "operationId": "volume-per-token",
        "servers": [
          {
            "url": "https://stablecoins.numia.xyz"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "ethereum-1",
                "arbitrum-42161",
                "polygon-137",
                "optimism-10",
                "base-8453",
                "binance-smart-chain-56",
                "avalanche-43114"
              ]
            },
            "required": false,
            "name": "chain_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "FRAX",
                "USDY",
                "USD0",
                "TUSD",
                "USDe",
                "USDL",
                "DAI",
                "USDT",
                "USDC",
                "AUSD",
                "USDO",
                "lisUSD",
                "USDD",
                "USD1",
                "vBUSD",
                "XUSD",
                "DEUSD",
                "RLUSD",
                "USDP",
                "USDtb",
                "FRXUSD",
                "USDf",
                "USDG"
              ]
            },
            "required": false,
            "name": "token_symbol",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "10m",
                "30m",
                "1h",
                "3h",
                "6h",
                "24h"
              ],
              "default": "1h"
            },
            "required": false,
            "name": "time_range",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "token_name": {
                        "type": "string"
                      },
                      "token_symbol": {
                        "type": "string"
                      },
                      "total_amount": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "token_name",
                      "token_symbol",
                      "total_amount"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stablecoins/issuing/over-time": {
      "get": {
        "tags": [
          "stablecoins"
        ],
        "operationId": "issuing-over-time",
        "servers": [
          {
            "url": "https://stablecoins.numia.xyz"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "ethereum-1",
                "arbitrum-42161",
                "polygon-137",
                "optimism-10",
                "base-8453",
                "binance-smart-chain-56",
                "avalanche-43114"
              ]
            },
            "required": false,
            "name": "chain_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "FRAX",
                "USDY",
                "USD0",
                "TUSD",
                "USDe",
                "USDL",
                "DAI",
                "USDT",
                "USDC",
                "AUSD",
                "USDO",
                "lisUSD",
                "USDD",
                "USD1",
                "vBUSD",
                "XUSD",
                "DEUSD",
                "RLUSD",
                "USDP",
                "USDtb",
                "FRXUSD",
                "USDf",
                "USDG"
              ]
            },
            "required": false,
            "name": "token_symbol",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "10m",
                "30m",
                "1h",
                "3h",
                "6h",
                "24h"
              ],
              "default": "1h"
            },
            "required": false,
            "name": "time_range",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "labels": {
                        "type": "string"
                      },
                      "token_name": {
                        "type": "string"
                      },
                      "token_symbol": {
                        "type": "string"
                      },
                      "minted": {
                        "type": "number"
                      },
                      "burned": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "labels",
                      "token_name",
                      "token_symbol",
                      "minted",
                      "burned"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stablecoins/active-senders/over-time": {
      "get": {
        "tags": [
          "stablecoins"
        ],
        "operationId": "active-senders-over-time",
        "servers": [
          {
            "url": "https://stablecoins.numia.xyz"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "10m",
                "30m",
                "1h",
                "3h",
                "6h",
                "24h"
              ],
              "default": "1h"
            },
            "required": false,
            "name": "time_range",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "2m",
                "5m",
                "10m",
                "30m",
                "1h"
              ],
              "default": "5m"
            },
            "required": false,
            "name": "time_agg",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "ethereum-1",
                "arbitrum-42161",
                "polygon-137",
                "optimism-10",
                "base-8453",
                "binance-smart-chain-56",
                "avalanche-43114"
              ]
            },
            "required": false,
            "name": "chain_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "labels": {
                        "type": "string"
                      },
                      "active_senders": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "active_senders": {
                              "type": "number"
                            },
                            "token_name": {
                              "type": "string"
                            },
                            "token_symbol": {
                              "type": "string"
                            },
                            "token_denom": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "active_senders",
                            "token_name",
                            "token_symbol",
                            "token_denom"
                          ]
                        }
                      }
                    },
                    "required": [
                      "labels",
                      "active_senders"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stablecoins/volume-by-category/over-time": {
      "get": {
        "tags": [
          "stablecoins"
        ],
        "operationId": "volume-by-category-over-time",
        "servers": [
          {
            "url": "https://stablecoins.numia.xyz"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "10m",
                "30m",
                "1h",
                "3h",
                "6h",
                "24h"
              ],
              "default": "1h"
            },
            "required": false,
            "name": "time_range",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "2m",
                "5m",
                "10m",
                "30m",
                "1h"
              ],
              "default": "5m"
            },
            "required": false,
            "name": "time_agg",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "ethereum-1",
                "arbitrum-42161",
                "polygon-137",
                "optimism-10",
                "base-8453",
                "binance-smart-chain-56",
                "avalanche-43114"
              ]
            },
            "required": false,
            "name": "chain_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "labels": {
                        "type": "string"
                      },
                      "volume_by_category": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "category": {
                              "type": "string"
                            },
                            "total_volume": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "category",
                            "total_volume"
                          ]
                        }
                      }
                    },
                    "required": [
                      "labels",
                      "volume_by_category"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stablecoins/whale-alerts": {
      "get": {
        "tags": [
          "stablecoins"
        ],
        "operationId": "whale-alerts",
        "servers": [
          {
            "url": "https://stablecoins.numia.xyz"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "5"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "chain_id": {
                        "type": "string"
                      },
                      "block_timestamp": {
                        "type": "string"
                      },
                      "block_height": {
                        "type": "string"
                      },
                      "token_denom": {
                        "type": "string"
                      },
                      "token_symbol": {
                        "type": "string"
                      },
                      "token_name": {
                        "type": "string"
                      },
                      "sender": {
                        "type": "string"
                      },
                      "receiver": {
                        "type": "string"
                      },
                      "amount_usd": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "chain_id",
                      "block_timestamp",
                      "block_height",
                      "token_denom",
                      "token_symbol",
                      "token_name",
                      "sender",
                      "receiver",
                      "amount_usd"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stablecoins/bridge/total-inflow": {
      "get": {
        "tags": [
          "stablecoins"
        ],
        "operationId": "bridge-inflow",
        "servers": [
          {
            "url": "https://stablecoins.numia.xyz"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "ethereum-1",
                "arbitrum-42161",
                "polygon-137",
                "optimism-10",
                "base-8453",
                "binance-smart-chain-56",
                "avalanche-43114"
              ]
            },
            "required": false,
            "name": "chain_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "FRAX",
                "USDY",
                "USD0",
                "TUSD",
                "USDe",
                "USDL",
                "DAI",
                "USDT",
                "USDC",
                "AUSD",
                "USDO",
                "lisUSD",
                "USDD",
                "USD1",
                "vBUSD",
                "XUSD",
                "DEUSD",
                "RLUSD",
                "USDP",
                "USDtb",
                "FRXUSD",
                "USDf",
                "USDG"
              ]
            },
            "required": false,
            "name": "token_symbol",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "10m",
                "30m",
                "1h",
                "3h",
                "6h",
                "24h"
              ],
              "default": "1h"
            },
            "required": false,
            "name": "time_range",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "chain_ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "chain_id": {
                        "type": "string"
                      },
                      "total_amount": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "chain_id",
                      "total_amount"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stablecoins/bridge/total-outflow": {
      "get": {
        "tags": [
          "stablecoins"
        ],
        "operationId": "bridge-outflow",
        "servers": [
          {
            "url": "https://stablecoins.numia.xyz"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "ethereum-1",
                "arbitrum-42161",
                "polygon-137",
                "optimism-10",
                "base-8453",
                "binance-smart-chain-56",
                "avalanche-43114"
              ]
            },
            "required": false,
            "name": "chain_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "FRAX",
                "USDY",
                "USD0",
                "TUSD",
                "USDe",
                "USDL",
                "DAI",
                "USDT",
                "USDC",
                "AUSD",
                "USDO",
                "lisUSD",
                "USDD",
                "USD1",
                "vBUSD",
                "XUSD",
                "DEUSD",
                "RLUSD",
                "USDP",
                "USDtb",
                "FRXUSD",
                "USDf",
                "USDG"
              ]
            },
            "required": false,
            "name": "token_symbol",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "10m",
                "30m",
                "1h",
                "3h",
                "6h",
                "24h"
              ],
              "default": "1h"
            },
            "required": false,
            "name": "time_range",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "chain_ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "chain_id": {
                        "type": "string"
                      },
                      "total_amount": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "chain_id",
                      "total_amount"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stablecoins/bridge/total-netflow": {
      "get": {
        "tags": [
          "stablecoins"
        ],
        "operationId": "bridge-netflow",
        "servers": [
          {
            "url": "https://stablecoins.numia.xyz"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "ethereum-1",
                "arbitrum-42161",
                "polygon-137",
                "optimism-10",
                "base-8453",
                "binance-smart-chain-56",
                "avalanche-43114"
              ]
            },
            "required": false,
            "name": "chain_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "FRAX",
                "USDY",
                "USD0",
                "TUSD",
                "USDe",
                "USDL",
                "DAI",
                "USDT",
                "USDC",
                "AUSD",
                "USDO",
                "lisUSD",
                "USDD",
                "USD1",
                "vBUSD",
                "XUSD",
                "DEUSD",
                "RLUSD",
                "USDP",
                "USDtb",
                "FRXUSD",
                "USDf",
                "USDG"
              ]
            },
            "required": false,
            "name": "token_symbol",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "10m",
                "30m",
                "1h",
                "3h",
                "6h",
                "24h"
              ],
              "default": "1h"
            },
            "required": false,
            "name": "time_range",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "chain_ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "chain_id": {
                        "type": "string"
                      },
                      "total_amount": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "chain_id",
                      "total_amount"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stablecoins/bridge/cross-chain-volume": {
      "get": {
        "tags": [
          "stablecoins"
        ],
        "operationId": "bridge-cross-chain-volume",
        "servers": [
          {
            "url": "https://stablecoins.numia.xyz"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "ethereum-1",
                "arbitrum-42161",
                "polygon-137",
                "optimism-10",
                "base-8453",
                "binance-smart-chain-56",
                "avalanche-43114"
              ]
            },
            "required": false,
            "name": "chain_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "FRAX",
                "USDY",
                "USD0",
                "TUSD",
                "USDe",
                "USDL",
                "DAI",
                "USDT",
                "USDC",
                "AUSD",
                "USDO",
                "lisUSD",
                "USDD",
                "USD1",
                "vBUSD",
                "XUSD",
                "DEUSD",
                "RLUSD",
                "USDP",
                "USDtb",
                "FRXUSD",
                "USDf",
                "USDG"
              ]
            },
            "required": false,
            "name": "token_symbol",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "10m",
                "30m",
                "1h",
                "3h",
                "6h",
                "24h"
              ],
              "default": "1h"
            },
            "required": false,
            "name": "time_range",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "chain_ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Status: 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "src_chain_id": {
                        "type": "string"
                      },
                      "dst_chain_id": {
                        "type": "string"
                      },
                      "total_amount": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "src_chain_id",
                      "dst_chain_id",
                      "total_amount"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stablecoins/bridge/netflow-over-time": {
      "get": {
        "tags": [
          "stablecoins"
        ],
        "operationId": "bridge-netflow-over-time",
        "servers": [
          {
            "url": "https://stablecoins.numia.xyz"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "ethereum-1",
                "arbitrum-42161",
                "polygon-137",
                "optimism-10",
                "base-8453",
                "binance-smart-chain-56",
                "avalanche-43114"
              ]
            },
            "required": false,
            "name": "chain_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "FRAX",
                "USDY",
                "USD0",
                "TUSD",
                "USDe",
                "USDL",
                "DAI",
                "USDT",
                "USDC",
                "AUSD",
                "USDO",
                "lisUSD",
                "USDD",
                "USD1",
                "vBUSD",
                "XUSD",
                "DEUSD",
                "RLUSD",
                "USDP",
                "USDtb",
                "FRXUSD",
                "USDf",
                "USDG"
              ]
            },
            "required": false,
            "name": "token_symbol",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "10m",
                "30m",
                "1h",
                "3h",
                "6h",
                "24h"
              ],
              "default": "1h"
            },
            "required": false,
            "name": "time_range",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "2m",
                "5m",
                "10m",
                "30m",
                "1h"
              ],
              "default": "5m"
            },
            "required": false,
            "name": "time_agg",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "chain_ids",
            "in": "query"
          }
        ],
        "responses": {}
      }
    },
    "/stablecoins/category/total-inflow": {
      "get": {
        "tags": [
          "stablecoins"
        ],
        "operationId": "category-total-inflow",
        "servers": [
          {
            "url": "https://stablecoins.numia.xyz"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "ethereum-1",
                "arbitrum-42161",
                "polygon-137",
                "optimism-10",
                "base-8453",
                "binance-smart-chain-56",
                "avalanche-43114"
              ]
            },
            "required": false,
            "name": "chain_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "FRAX",
                "USDY",
                "USD0",
                "TUSD",
                "USDe",
                "USDL",
                "DAI",
                "USDT",
                "USDC",
                "AUSD",
                "USDO",
                "lisUSD",
                "USDD",
                "USD1",
                "vBUSD",
                "XUSD",
                "DEUSD",
                "RLUSD",
                "USDP",
                "USDtb",
                "FRXUSD",
                "USDf",
                "USDG"
              ]
            },
            "required": false,
            "name": "token_symbol",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "10m",
                "30m",
                "1h",
                "3h",
                "6h",
                "24h"
              ],
              "default": "1h"
            },
            "required": false,
            "name": "time_range",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "category",
            "in": "query"
          }
        ],
        "responses": {}
      }
    },
    "/stablecoins/category/total-outflow": {
      "get": {
        "tags": [
          "stablecoins"
        ],
        "operationId": "category-total-outflow",
        "servers": [
          {
            "url": "https://stablecoins.numia.xyz"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "ethereum-1",
                "arbitrum-42161",
                "polygon-137",
                "optimism-10",
                "base-8453",
                "binance-smart-chain-56",
                "avalanche-43114"
              ]
            },
            "required": false,
            "name": "chain_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "FRAX",
                "USDY",
                "USD0",
                "TUSD",
                "USDe",
                "USDL",
                "DAI",
                "USDT",
                "USDC",
                "AUSD",
                "USDO",
                "lisUSD",
                "USDD",
                "USD1",
                "vBUSD",
                "XUSD",
                "DEUSD",
                "RLUSD",
                "USDP",
                "USDtb",
                "FRXUSD",
                "USDf",
                "USDG"
              ]
            },
            "required": false,
            "name": "token_symbol",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "10m",
                "30m",
                "1h",
                "3h",
                "6h",
                "24h"
              ],
              "default": "1h"
            },
            "required": false,
            "name": "time_range",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "category",
            "in": "query"
          }
        ],
        "responses": {}
      }
    },
    "/stablecoins/category/total-netflow": {
      "get": {
        "tags": [
          "stablecoins"
        ],
        "operationId": "category-total-netflow",
        "servers": [
          {
            "url": "https://stablecoins.numia.xyz"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "ethereum-1",
                "arbitrum-42161",
                "polygon-137",
                "optimism-10",
                "base-8453",
                "binance-smart-chain-56",
                "avalanche-43114"
              ]
            },
            "required": false,
            "name": "chain_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "FRAX",
                "USDY",
                "USD0",
                "TUSD",
                "USDe",
                "USDL",
                "DAI",
                "USDT",
                "USDC",
                "AUSD",
                "USDO",
                "lisUSD",
                "USDD",
                "USD1",
                "vBUSD",
                "XUSD",
                "DEUSD",
                "RLUSD",
                "USDP",
                "USDtb",
                "FRXUSD",
                "USDf",
                "USDG"
              ]
            },
            "required": false,
            "name": "token_symbol",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "10m",
                "30m",
                "1h",
                "3h",
                "6h",
                "24h"
              ],
              "default": "1h"
            },
            "required": false,
            "name": "time_range",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "category",
            "in": "query"
          }
        ],
        "responses": {}
      }
    }
  }
}