{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://stride.numia.xyz"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Numia - Stride API"
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/stride/token-metrics": {
      "get": {
        "servers": [
          {
            "url": "https://stride.numia.xyz"
          }
        ],
        "operationId": "getTokenMetrics",
        "tags": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>",
        "summary": "Get Token Metrics"
      }
    },
    "/stride/redemption-rate": {
      "get": {
        "servers": [
          {
            "url": "https://stride.numia.xyz"
          }
        ],
        "operationId": "getRedemptionRate",
        "tags": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>",
        "summary": "Get Redemption Rate"
      }
    },
    "/stride/total-users": {
      "get": {
        "servers": [
          {
            "url": "https://stride.numia.xyz"
          }
        ],
        "operationId": "getTotalUsers",
        "tags": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>",
        "summary": "Get Total Users"
      }
    },
    "/stride/average-staked": {
      "get": {
        "servers": [
          {
            "url": "https://stride.numia.xyz"
          }
        ],
        "operationId": "getAverageStaked",
        "tags": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>",
        "summary": "Get Average Staked"
      }
    },
    "/stride/tvl": {
      "get": {
        "servers": [
          {
            "url": "https://stride.numia.xyz"
          }
        ],
        "operationId": "getTvl",
        "tags": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>",
        "summary": "Get Tvl"
      }
    },
    "/stride/total-yield": {
      "get": {
        "servers": [
          {
            "url": "https://stride.numia.xyz"
          }
        ],
        "operationId": "getTotalYield",
        "tags": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>",
        "summary": "Get Total Yield"
      }
    },
    "/stride/apr": {
      "get": {
        "servers": [
          {
            "url": "https://stride.numia.xyz"
          }
        ],
        "operationId": "getApr",
        "tags": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>",
        "summary": "Get Apr"
      }
    },
    "/stride/burnt_supply": {
      "get": {
        "servers": [
          {
            "url": "https://stride.numia.xyz"
          }
        ],
        "operationId": "getBurntSupply",
        "tags": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "description": "import PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>",
        "summary": "Get Burnt Supply"
      }
    }
  }
}