{
  "openapi": "3.0.0",
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://cosmoshub.numia.xyz"
    },
    {
      "url": "https://osmosis.numia.xyz"
    },
    {
      "url": "https://stargaze.numia.xyz"
    },
    {
      "url": "https://stride.numia.xyz"
    },
    {
      "url": "https://terra2.numia.xyz"
    },
    {
      "url": "https://neutron.numia.xyz"
    },
    {
      "url": "https://dydx.numia.xyz"
    },
    {
      "url": "https://celestia.numia.xyz"
    },
    {
      "url": "https://noble.numia.xyz"
    },
    {
      "url": "https://akash.numia.xyz"
    },
    {
      "url": "https://dymension.numia.xyz"
    },
    {
      "url": "https://nillion.numia.xyz"
    },
    {
      "url": "https://initia.numia.xyz"
    },
    {
      "url": "https://zigchain.numia.xyz"
    }
  ],
  "tags": [
    {
      "name": "Multichain"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Numia - Api - Transactions by address",
    "description": "\n            ### Supported Networks\n            \n- akash (https://akash.numia.xyz)\n- celestia (https://celestia.numia.xyz)\n- cosmoshub (https://cosmoshub.numia.xyz)\n- dydx (https://dydx.numia.xyz)\n- dymension (https://dymension.numia.xyz)\n- initia (https://initia.numia.xyz)\n- neutron (https://neutron.numia.xyz)\n- nillion (https://nillion.numia.xyz)\n- noble (https://noble.numia.xyz)\n- osmosis (https://osmosis.numia.xyz)\n- stargaze (https://stargaze.numia.xyz)\n- stride (https://stride.numia.xyz)\n- terra2 (https://terra2.numia.xyz)\n- zigchain (https://zigchain.numia.xyz)\n            "
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/v2/txs/{address}": {
      "get": {
        "operationId": "getTransactionsByAddress",
        "description": "get transactions by address\n\nimport PriceTag from \"@site/src/components/PriceTag\";\n\n<PriceTag price={5}/>",
        "servers": [
          {
            "url": "https://cosmoshub.numia.xyz"
          },
          {
            "url": "https://osmosis.numia.xyz"
          },
          {
            "url": "https://stargaze.numia.xyz"
          },
          {
            "url": "https://stride.numia.xyz"
          },
          {
            "url": "https://terra2.numia.xyz"
          },
          {
            "url": "https://neutron.numia.xyz"
          },
          {
            "url": "https://dydx.numia.xyz"
          },
          {
            "url": "https://celestia.numia.xyz"
          },
          {
            "url": "https://noble.numia.xyz"
          },
          {
            "url": "https://akash.numia.xyz"
          },
          {
            "url": "https://dymension.numia.xyz"
          },
          {
            "url": "https://nillion.numia.xyz"
          },
          {
            "url": "https://initia.numia.xyz"
          },
          {
            "url": "https://zigchain.numia.xyz"
          },
          {
            "url": "https://cosmos.numia.xyz"
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "address",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "description": "Page of transactions to load"
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "description": "How many transactions to return per page (max 100)"
            },
            "required": false,
            "name": "pageSize",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                }
              ],
              "description": "Filter by message type"
            },
            "required": false,
            "name": "messageTypes",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "true"
            },
            "required": true,
            "name": "cleanPrices",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "summary": "Get Transactions By Address"
      }
    }
  }
}